<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<title>{% block title %}Welcome{% endblock %} — lektor-portfolio</title>
<meta name="viewport" content="width=device‐width, initial‐scale=1.0, maximum‐
scale=1.0, user‐scalable=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<body>
  <div class="container-fluid">
    <header>
      <h1>lektor-portfolio</h1>
      <nav>
        <ul class="nav navbar-nav">
          <li{% if this._path == '/' %} class="active"{% endif
            %}><a href="{{ '/'|url }}">Главная страница</a></li>
          {% for href, title in [
            ['/blog', 'Отчеты по учебе'],
            ['/projects', 'Внеучебные проекты'],
            ['/about', 'Об авторе']
          ] %}
            <li{% if this.is_child_of(href) %} class="active"{% endif
              %}><a href="{{ href|url }}">{{ title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </header>
    <div class="page">
      {% block body %}{% endblock %}
    </div>
    <footer>
      &copy; Copyright 2021 by Kirillakrill.
    </footer>
  </div>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
